/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Mar-2014, 16:30:36
    Author     : theonicolaou
*/

.pane-most-viewed-case-studies {
    .pane-title {
        @extend %title-dotted;
        color: $lightGrey;
    }
    
    .view-most-viewed-case-studies {
        ul {
            &.most-viewed-list {
                text-transform: uppercase;
            }
        }
    }
}