/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Mar-2014, 16:03:31
    Author     : theonicolaou
*/
body {
    &.page-home {
        background-image: url('../images/london_skyline_bg.png');
        background-repeat: no-repeat;
        background-position: 410px 150px;
    }
}
