.pane-home-cabbie-testimonial {
    background: #9c0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #9c0000 0%, #be0000 49%, #9c0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9c0000), color-stop(49%,#be0000), color-stop(100%,#9c0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9c0000 0%,#be0000 49%,#9c0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9c0000 0%,#be0000 49%,#9c0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9c0000 0%,#be0000 49%,#9c0000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9c0000 0%,#be0000 49%,#9c0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c0000', endColorstr='#9c0000',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    padding: 15px;
    .pane-title {
        color: #ffffff;
    }
} 