/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Mar-2014, 16:41:45
    Author     : theonicolaou
*/

.navigation {
    margin: 1em 0 0 0;
    padding: 0.5em 0;
    border-top: 1px dotted #9c9c9c;

    #main-menu-links {
        li {
            text-transform: uppercase;
            border-right: 1px dotted #9c9c9c;
            padding: 0 0.6em;
            margin: 0;
            
            &.first {
             margin-left: 1.375em;
            }
            &:last-of-type {
                border: none;
                padding-right: 0;
            }
            
            a {
                color: #9c9c9c;
                
                &.active {
                    color: #000000;
                }
            }
        }
    }
}
.l-footer-columns {
    background-color: #f8f8f8;
    
    .block-system-main-menu {
        .menu {
            li {
                a {
                    color: #000000;
                }
            }
        }
    }

    .menu {
        li {
            list-style-type: none;
            display: inline;
            
            a {
                color: #9c9c9c;
            }
        }
    }
}