/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Mar-2014, 16:41:45
    Author     : theonicolaou
*/

.navigation {
    margin: 1em 0 1.2em 0;
    padding: 0.5em 0 0.2em 0;
    border-top: 1px dotted $lightGrey;
    border-bottom: 1px dotted $lightGrey;
    
    #main-menu-links {
        margin-bottom: 0;
        padding-top:11px;

        li {
            text-transform: uppercase;
            border-right: 1px dotted $lightGrey;
            padding: 0 0.4em;
            margin: 0;
 
            &:last-of-type {
                border: none;
                padding-right: 0;
            }
            
            a {
                color: #9c9c9c;
                
                &.active {
                    color: #000000;
                }
            }
        }
    }
}
.l-footer-columns {
    background-color: #f8f8f8;
    border-top: 1px dotted $lightGrey;
    
    .block-system-main-menu {
        .menu {
            li {
                text-transform: uppercase;

                a {
                    color: #000000;
                }
            }
        }
    }

    .menu {
        li {
            list-style-type: none;
            display: inline;
            
            a {
                color: $lightGrey;
            }
        }
    }
}