/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Mar-2014, 16:30:36
    Author     : theonicolaou
*/

.pane-featured-news-item {
    .pane-title {
        @extend %title-dotted;
    }
}
.view-featured-news-item {
    .component-title {
        @extend %title-dotted;
        margin: 0 0 1.1em 0;
        font-size: 1.5em;
        text-transform: uppercase;
        
        a {
            color: #b60604;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    .view-content {
        padding: 0 0 1.5em 0;
    }

    .news-featured-image-caption {
        background-color: #636367;
        opacity: 0.6;
        color: #ffffff;
        width: 35%;
        padding: 1em 0.8em;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        bottom: 45px;
        right: -120px;
    }

    /* TODO: this will be a "read-more" class */
    .views-field-view-node {
        text-align: right;
        .read-more {
            a {
                text-transform: uppercase;
                border: 1px dotted $lightGrey;
                padding: 0.75em 0.6em;
                color: $darkGrey;
                display: inline-block;
            }
        }
    }
}

.view-news-items {
    .views-field-title {
        @extend %title-dotted;
        margin: 0 0 1.1em 0;
        font-size: 1.5em;
        text-transform: uppercase;
        color: $darkRed;
    }
    
    .news-row {
        padding: 0 0 1.5em 0;
    }
    
    /* TODO: this will be a "read-more" class */
    .views-field-view-node {
        text-align:right;
        .read-more { 
            a {
                text-transform: uppercase;
                border: 1px dotted $lightGrey;
                padding: 0.75em 0.6em;
                color: $darkGrey;
                display: inline-block;

            }
        }
    }
}

.view-news-items-without-images {
    .views-field-title {
        @extend %title-dotted;
        margin: 0 0 1.1em 0;
        font-size: 1.5em;
        text-transform: uppercase;
        color: $darkGrey;
    }
    
    /* TODO: this will be a "read-more" class */
    .views-field-view-node {
        a {
            text-transform: uppercase;
            border: 1px dotted $lightGrey;
            padding: 0.75em 0.6em;
            color: $darkGrey;
        }
    }
}
