/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Mar-2014, 16:30:36
    Author     : theonicolaou
*/

.view-featured-news-item {
    .views-field-title {
        @extend %title-dotted;
        margin: 0 0 1.1em 0;
        font-size: 1.5em;
        text-transform: uppercase;
        
        a {
            color: #b60604;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    .views-field-field-featured-image-caption {
        background-color: #636367;
        opacity: 0.6;
        color: #ffffff;
        width: 35%;
        padding: 1em 0.8em;
        text-align: center;
        text-transform: uppercase;
    }

    /* TODO: this will be a "read-more" class */
    .views-field-view-node {
        a {
            text-transform: uppercase;
            border: 1px dotted $lightGrey;
            padding: 0.75em 0.6em;
            color: $darkGrey;
        }
    }
}

.view-news-items {
    .views-field-title {
        @extend %title-dotted;
        margin: 0 0 1.1em 0;
        font-size: 1.5em;
        text-transform: uppercase;
        color: $darkRed;
    }
    
    /* TODO: this will be a "read-more" class */
    .views-field-view-node {
        a {
            text-transform: uppercase;
            border: 1px dotted $lightGrey;
            padding: 0.75em 0.6em;
            color: $darkGrey;
        }
    }
}

.view-news-items-without-images {
    .views-field-title {
        @extend %title-dotted;
        margin: 0 0 1.1em 0;
        font-size: 1.5em;
        text-transform: uppercase;
        color: $darkGrey;
    }
    
    /* TODO: this will be a "read-more" class */
    .views-field-view-node {
        a {
            text-transform: uppercase;
            border: 1px dotted $lightGrey;
            padding: 0.75em 0.6em;
            color: $darkGrey;
        }
    }
}
