/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Mar-2014, 16:30:36
    Author     : theonicolaou
*/

.view-taxi-formatt {
    .views-field-title {
        color: #000000;
        font-size: 1.8em;
        text-transform: uppercase;
    }
    .views-field-field-bullet-points {
        ul {
            li {
                list-style-image: url('../images/taxi_bullet_point.jpg');
            }
        }
    }
}