/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Mar-2014, 16:30:36
    Author     : theonicolaou
*/

body {
    color: #656363;
    font-size: 0.95em;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: normal;
}

.pane-title {
    color: #000000;
}

.site-slogan {
    font-size: 1.0em;
    font-weight: normal;
}