/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Mar-2014, 14:54:56
    Author     : theonicolaou
*/

$lightGrey: #9c9c9c;
$darkGrey: #7d7d7d;
$darkRed: #9c0000;